body {
  width: 100vw;
  height: 100vh;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
}
.header-container {
  width: 300px;
  height: 100vh;
  border-right: 2px solid rgb(225,225,225);
  background-color: rgb(250,250,250);
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    width: 100%;
    height: 160px;
    width: 220px;

    .logo {
      width: 60px;
      height: 60px;
      background: linear-gradient(#4b94f1, #0e5abc);
      border-radius: 10px;
      margin: 0.5em 0;
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
      
    }
  
    h3 {
      color: #3084F2;
      font-family: 'Open Sans', sans-serif;
    }
  
    p {
      color: rgb(90,90,90);
      font-size: 1em;
      font-family: 'Open Sans', sans-serif;
      letter-spacing: 1px;
    }
    
  }  
}
nav {
  width: 100%;
  height: ~"calc(100vh - 180px)";
  background-color: rgb(250,250,250);
  overflow-y: auto;

  .category {
    color: #7f7f7f;
    font-size: 1em;
    // font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 1em auto;
    padding: 0.5em 1em;
    width: 220px;
  }
  .category:hover {
    color: #1271eb;
    background-color: rgba(149,192,247, 0.3);
    border-radius: 8px;
    cursor: pointer;
  }

  .projects-header {
    width: 240px;
    margin: 1em auto;
  }
  .projects-title {
    color: #8d8d8d;
    margin: 1em auto;
    padding: 0.5em 1em;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    // font-family: 'Open Sans', sans-serif;
    font-weight: 500;
  }

  .projects-container {
    width: 240px;
    min-height: 400px;
    margin: 0 auto;
  }
}
footer {
  width: 300px;
  height: 50px;
  background-color: #3084F2;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-top: 1px solid rgb(171,176,190);
}
main {
  min-width: 850px;
  width: ~"calc(100vw - 300px)";
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;

  .info-bar {
    width: 800px;
    height: 60px;
    margin: 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;

    .active-logo {
      color: #7f7f7f;
      font-weight: 700;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin: 0 0 0 0;
      letter-spacing:  1px;
    }
    .active-project {
      color: #3084F2;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      font-size: 1em;
    }
  }

  .task-container {
    width: 800px;
    height: ~"calc(100vh - 60px)";
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  .add-container {
    width: 800px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #f2f2f2;


    input {
      width: 500px;
      padding: 0.5em 1em;
      margin: 0 0.5em 0 0;
    }

    button {
      padding: 0.5em 1em;
      border-radius: 0;
    }
  }
}

.note-container {
  width: 800px;
  padding: 0.75em 1em;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;

  p {
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
  }
  .trash-can-icon {
    height: 18px;
    cursor: pointer;

  }
}
.note-container:hover {
  background-color: rgba(149,192,247, 0.3);
}